body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    font-family: system-ui;
}

nav {
    background-color: #ffa46b;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img-logo {
    height: 130px;
}

nav .nav-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav .nav-links ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
}

nav .nav-links li {
    padding: 15px;
}

nav .nav-login a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 15px;
    margin-right: 10px;
}

a:hover {
    background-color: #FF914D;
    border-radius: 10px;
}

.secao {
    border: solid 2px white;
    height: 100%;
}

form {
    background-color: gainsboro;
    border-radius: 4px;
    width: 320px;
    margin: auto;
    display: block;
    margin-top: 200px;
}

input {
    width: 90%;
    padding: 6px;
    margin-bottom: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

input[type=radio] {
    width: auto;
}

#id-secao1 h1{
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 20px;
}
.img-lancamentos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

.img-container {
    text-align: center;
}

.img-container img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.img-container p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

#id-secao2 h1{
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 20px;
}
.img-calcados{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

#id-secao3 h1{
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 20px;
}
.img-acessorios{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

#id-secao4 h1{
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 20px;
}
.img-bermudas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

#footer-index{
    background-color: #ffa46b;
    height: 90px;
    width: 100px;
}
